@import "../../../varibles";


.cart-item {
    @include flex_just-sp-b_align-c;
    padding: 10px;
    min-height: 160px;
    position: relative;
    border-bottom: 1px solid #eee;

    .product-cart-img {
        width: 160px;
        @include flex_center;
        margin-right: 20px;

        .product-img {
            max-width: 130px;
            max-height: 140px;
        }
    }

    .main-item-data {
        width: 100%;

        .item-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .item-category {
                @include light_category_font;
            }

            .item-title-link {
                text-decoration: none;
                margin-right: 10px;

                .item-title {
                    font-size: 18px;
                    color: $light_black;
                }

                .item-title:hover {
                    color: #000;
                }
            }
        }

        .counter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            .count-amount {
                .counter-input {
                    height: 50px;
                    width: 50px;
                    outline: none;
                    font-size: 20px;
                    text-align: center;
                    border: none;
                }

                .counter-input::-webkit-outer-spin-button,
                .counter-input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .counter-input[type=number] {
                    -moz-appearance: textfield;
                }

                .count-btn {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;

                    .count-img {
                        width: 16px;
                    }
                }
            }

            .item-price {
                font-size: 20px;
            }
        }
    }

    .delete-item {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 10px;
        border: none;
        background-color: transparent;
        transform: rotate(45deg);

        .delete-img {
            width: 25px;
        }
    }

    .delete-item:hover {
        opacity: 0.8;
    }
}


.cart-item:last-child {
    border-bottom: none;
}

@media screen and (max-width: 550px) {
    .cart-item {
        .product-cart-img {
            width: 120px;
            margin-right: 15px;

            .product-img {
                max-width: 90px;
                max-height: 100px;
            }
        }

        .main-item-data {

            .item-name {
                .item-category {
                    font-size: 11px;
                }


                .item-title-link {
                    .item-title {
                        max-width: 190px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 16px;
                    }
                }
            }

            .counter {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }
        }
    }
}