@import "../../varibles";

.block-section {
    @include container;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: calc(60px + $margin_between_sections);

    .column {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .block-large {
            border-radius: 2px;
            width: 100%;
            height: 100%;
            max-width: 412px;
            max-height: 450px;

            img {
                border-radius: 2px;
                width: 100%;
                height: 100%;
            }
        }

        .block-sm {
            border-radius: 2px;
            width: 100%;
            height: 100%;
            max-width: 412px;
            max-height: 270px;

            img {
                border-radius: 2px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .column.reverse {
        flex-direction: column-reverse;

        .block-sm.text {
            padding: 30px;
            text-align: center;
            @include flex_center;
            font-size: 24px;
            text-transform: uppercase;
            background-color: $main_panel_color;
            color: rgb(32, 0, 0);
        }
    }
}

.new-arrivals {
    @include container;
    margin-top: $margin_between_sections;

    .row-title {
        font-size: 30px;
    }

    .products-list {
        display: flex;

        .vector-btn {
            cursor: pointer;
            border: none;
            background-color: transparent;
            top: 40%;

            .vector {
                width: 30px;
            }

            .vector.reverse {
                transform: rotate(0.5turn);
            }

            &:last-child {
                right: -40px;
            }

            &:first-child {
                left: -40px;
            }
        }

        .all-cards {
            overflow: hidden;
            overflow-x: scroll;
            padding: 20px 0px;
            display: flex;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .block-section {
        @include container-mobile-padding;


        .column.reverse {
            .block-sm.text {
                font-size: 17px;
            }
        }
    }

    .new-arrivals {
        @include container-mobile-padding;

        .row-title {
            font-size: 24px;
        }
    }
}