@import "../../varibles";

.header {
    @include flex_center;
    background-color: $main_panel_color;
    padding: 15px 0px;

    .header-mobile {
        display: none
    }

    .header-main {
        @include container;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .location-container {
            display: flex;
            align-items: center;

            .location-icon {
                margin-right: 7px;
                width: 20px;
            }
        }

        .logo-nav {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-link {
                .logo {
                    width: 100px;
                }
            }

            .header-navigation {
                display: flex;
                gap: 30px;

                .nav-item {
                    position: relative;
                    cursor: pointer;

                    .categories-nav {
                        position: absolute;
                        top: 39px;
                        z-index: 10;
                        background-color: #fff;
                        width: 200px;
                        box-shadow: 2px 2px 4px #0000000a;
                    }
                }

                .nav-item:hover {
                    font-weight: 500;
                }
            }
        }

        .header-items {
            display: flex;
            align-items: center;
            padding-top: 3px;

            .item {
                position: relative;

                .circle {
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    top: -3px;
                    right: 1px;
                    background-color: rgb(224, 5, 5);
                }

                .item-icon {
                    width: 27px;
                    margin: 0px 10px;
                    padding-bottom: 5px;
                }

                .wrap {
                    display: inline-block;
                    position: relative;
                    height: 34px;
                    margin-right: 6px;


                    input[type="text"] {
                        height: 30px;
                        font-size: 16px;
                        display: inline-block;
                        border: none;
                        outline: none;
                        padding-right: 32px;
                        width: 0px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: none;
                        z-index: 3;
                        transition: width .7s cubic-bezier(0.000, 0.795, 0.000, 1.000);
                        cursor: pointer;
                    }

                    input[type="text"]:focus:hover {
                        border-bottom: 1px solid #BBB;
                    }

                    input[type="text"]:focus {
                        width: 300px;
                        z-index: 1;
                        border-bottom: 1px solid #BBB;
                        cursor: text;
                    }

                    input[type="submit"] {
                        height: 30px;
                        width: 30px;
                        display: inline-block;
                        background-color: transparent;
                        background-image: url("../../../public/images/icons/search.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        text-indent: -10000px;
                        border: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        cursor: pointer;
                    }

                }
            }
        }

        .menu-mobile {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {
    .header {

        .header-mobile {
            display: block;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            left: 0;
            background-color: $main_panel_color;
            padding: 45px;
            @include flex_center;
            transition: all .6s ease;

            .close-container {
                position: absolute;
                right: 30px;
                top: 30px;
                border: none;
                background-color: transparent;

                .close {
                    width: 30px;
                    height: 30px;
                    transform: rotate(45deg)
                }
            }

            .navigation-mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .nav-item-mobile {
                    cursor: pointer;
                    font-size: 20px;

                    .nav-item-name-mobile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .vector {
                            transform: rotate(90deg);
                            width: 15px;
                        }
                        .vector.active {
                            transform: rotate(-90deg);
                            width: 15px;
                        }
                    }

                    .categories-nav-mobile{
                        margin-top: 7px;
                    }
                }
            }
        }

        .header-mobile.hidden {
            top: -100%
        }

        .header-main {
            @include container-mobile-padding;

            .location-container {
                display: none;
            }

            .logo-nav {
                justify-content: center;

                .header-navigation {
                    display: none;
                }
            }

            .header-items {
                display: none;
            }

            .menu-mobile {
                display: block;
                width: 40px;
            }
        }
    }

}