@import "../../../varibles";

.rate-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;

    .showAll {
        cursor: pointer;
        color: $light_black;
        transition: color .2s;
        margin-bottom: 5px;
    }

    .showAll:hover {
        color: #000;
    }

    .stars-row {
        @include flex_just-sp-b_align-c;
        cursor: pointer;

        .star-icons {
            display: flex;
            align-items: center;
            gap: 2px;

            .star-img {
                width: 18px;
                height: 18px;
            }
        }

        .product-amount {
            color: grey;
            white-space: nowrap;
            transition: color .2s;
        }

        .product-amount:hover {
            color: #000;
        }
    }
}