@import "../../../varibles";

.block {
    box-sizing: border-box;
    padding: 20px;
    z-index: 100;
    width: 300px;
    height: 396px;
    margin: 0px 10px;
    background-color: #fff;

    @include flex_just-sp-b_align-c;
    flex-direction: column;

    .block-title {
        text-transform: uppercase;
    }

    .block-image {
        width: 260px;
        height: 260px;

        img {
            width: 260px;
            height: 260px;
        }
    }

    .button {
        @include flex_center;

        .btn {
            cursor: pointer;
            border: none;
            background-color: rgb(240, 240, 240);
            padding: 10px 20px;
            font-size: 16px;
            text-transform: uppercase;
        }

        .btn:hover {
            background-color: rgb(223, 223, 223);
        }
    }
}