@import "../../../varibles";

.back {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 20px 0;

    .back-icon {
        width: 30px;
        transform: rotate(0.5turn);
    }
}