@import "../../varibles";


.category-container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 40px;
    box-sizing: border-box;


    .category-content {
        display: flex;

        .filters {
            width: 320px;
            background-color: #fff;
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 15px 10px;

            .filter-block {
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;

                .filter-name {
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid rgb(215, 215, 215);
                    font-weight: 600;
                    color: rgb(61, 61, 61);
                }

                .filter-settings {
                    display: flex;
                    flex-direction: column;

                    .scale {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 60px;
                        .reg {
                            position: relative;
                            display: flex;
                            align-items: center;

                            .scale-circle {
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: #000;
                            }

                            .scale-circle.left {
                                left: 0;
                            }

                            .scale-circle.right {
                                right: 0;
                            }


                            .scale-line {
                                height: 4px;
                                width: 100%;
                                background-color: rgb(190, 190, 190)
                            }
                        }

                        .scale-price {
                            margin-top: 8px;
                            @include flex_just-sp-b_align-c;
                            font-size: 12px;
                            color: rgb(181, 181, 181);
                        }
                    }
                }

                .search-product {
                    display: flex;
                    position: relative;
                    box-sizing: border-box;

                    input {
                        width: 100%;
                        outline: none;
                        height: 35px;
                        padding-right: 50px;
                        box-sizing: border-box;
                        border: none;
                        font-size: 17px;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        border: none;
                        height: 35px;
                        font-size: 15px;
                        padding: 3px 10px;
                    }
                }


                .filter-settings {
                    display: flex;
                    flex-direction: column;

                    .price-filter {
                        @include flex_just-sp-b_align-c;

                        button {
                            border: none;
                            height: 35px;
                            font-size: 15px;
                            padding: 3px 10px;
                        }

                        .filter-text {
                            font-size: 14px;
                            color: grey;
                        }
                    }
                }
            }


        }

        .category-content {
            background-color: #fff;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 20px;
            width: 100%;
        }
    }
}